@use "@/styles/global/vars.scss" as *;
@use "@/styles/global/mixins.scss" as *;
@use "@/styles/global/funcs.scss" as *;
@use "@/styles/global/media.scss" as *;
@use "@/styles/global/colors.scss" as *;


:root {
	--header-h: 90px;
}

body,
html {
	overflow-x: hidden;
}


body {
	min-height: 100dvh;
	position: relative;
	min-width: 360px;
	padding: 40px 0;
	color: hue(plain);
}

@mixin selected {
	background-color: palette('purple');
	color: hue(plain);
	text-shadow: none;
}


::selection {
	@include selected;
}

::-moz-selection {
	@include selected;
}

::-webkit-selection {
	@include selected;
}



.glass-box{
	
}

:where(.glass-box){
	--p: 30px 80px;
	--r: 30px;
  border-radius: var(--r); 
	padding: var(--p);

	@include device(laptop){
		--p: 30px 40px;
	}
	@include device(tablet){
		--p: 10px 20px;
		--r: 20px;
	}
}



.title{
	font-size: 50px;
	position: relative;
	padding-left: 0.4em;
	margin-bottom: 1.8em;

	&::after{
		content: '';
		position: absolute;
		left: 0;top: 0;
		height: 100%;
		width: 0.18em;
		border-radius: 0.2em;
		background: linear-gradient(to top, hue(heavy), hue(primary));
	}

		@include device('phone'){
			font-size: 36px;
		}
}



.icon-box{
	font-size: 10px;
	width: 8em;
	border: 1px solid hue(second, 0.5);
	background: linear-gradient(45deg, hue(heavy, 0.5) 0%, rgba(105, 70, 199, 0.6));
	aspect-ratio: 1/1;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 2em;
	backdrop-filter: blur(2px);

	span{
		font-size: 4em;
		font-weight: 600;
		font-family: var(--title-font);
	}

	img{
		$size: 4.5em;
		width: $size;
		height: $size;
	}

	@include device('tablet'){
		font-size: 7px;
	}
}

