.wrap{

}


.list{
	display: flex;
	flex-direction: column;
	gap: 100px;
}

.item{
	position: relative;
	padding-left: 120px;

	@include device('tablet'){
		padding-left: 75px;
	}
	@include device('phone'){
		padding-left: 0;
		padding-top: 200px;
	}
}

.index{
	position: absolute;
	left: 0;top: 0;

	@include device('phone'){
		font-size: 10px;
		top: -2em;
		left: 0em;
		opacity: 0.6;
	}
}


.item{  
  @for $i from 1 through 10 {
    &:nth-child(#{$i}) .image{
      animation-delay: #{$i * 1}s;
    }
  }
}


.image{
	position: absolute;
	top: 0;right: 0;
	height: 380px;
	animation: light 3s ease infinite;

	@keyframes light {
		0%,100% {			
			filter: drop-shadow(0px 0px 20px rgba(255, 255, 255, 1));
		}
		50% {
			filter: drop-shadow(0px 0px 20px rgba(255, 255, 255, 0.2));
		}
	}

	img{
		width: auto;
		height: 100%;
	}
}

.vector{
	position: absolute;
	// opacity: 0;
	
	@include device('phone'){
		display: none;
	}
}

.content{
	display: flex;
	flex-direction: column;
	gap: 1em;
	align-items: start;
	position: relative;
	max-width: 550px;
}

.itemTitle{
	font-size: 32px;	
	
	@include gradient-text(linear-gradient(to right, hue(heavy), hue(primary)));
	
	@include device('tablet'){
		font-size: 24px;
	}

}

.subtitle{
	font-size: 24px;
	color: hue(heavy);
	font-weight: 600;
}

.desc, .result{
	font-size: 20px;
	color: hue(second);

	@include device('tablet'){
		font-size: 16px;
	}
}



.image, .vector{
	@include device('tablet'){
		opacity: 0.3;
	}
	@include device('phone'){
		opacity: 1;
	}
}




.item:nth-child(odd) .image{
	translate: 120px -100px;
}
.item:nth-child(even) .image{
	
	translate: -120px -100px;
}

.item:nth-child(1) .image{
	translate: 120px -150px;
}


.item [data-vector="1"]{
	right: 0;bottom: 0;
	translate: 40px 260px;
	rotate: 60deg;
}
.item [data-vector="2"]{
	right: 0;bottom: 0;
	translate: -200px 260px;
	rotate: -80deg;
}
.item [data-vector="3"]{
	right: 0;bottom: 0;
	translate: 40px 260px;
	rotate: 60deg;
}
.item [data-vector="4"]{
	right: 0;bottom: 0;
	translate: -320px 260px;
	rotate: -40deg;
}



.item:first-child{
	
	@include device('phone'){
		padding-top: 250px;
	}
}

.item .image{
	@include device('phone'){
		height: 250px;
		right: 0;top: 0;
		bottom: auto;
		translate: 0 -40px !important;



		[alt="analys.svg"]{
			translate: 0 10px !important;
		}
		[alt="design.svg"]{
			translate: 0 -30px !important;
		}
		[alt="dev.svg"]{
			translate: 0 -0px !important;
			scale: 1.1;
		}
		[alt="start.svg"]{
			translate: 10px -10px !important;
			scale: 1.05;
		}
	}
}