.wrap{

}



.grid{
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	gap: 30px;
	
	@include device('tablet'){
		display: flex;
		flex-direction: column;
	}

	@include device('phone'){
		gap: 60px;
	}
}




.info{
	justify-self: end;
	min-height: 640px;
	width: clamp(300px, 100%, 500px);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 20px;
	padding: 40px;
	overflow: hidden;
	
	
	@include device('phone'){
		padding: 20px;
		min-height: 540px;
	}


	&__icon{
		font-size: 10px;
		width: 8em;
		aspect-ratio: 1/1;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 1.5em;
		background: linear-gradient(45deg, hue(heavy, 0.1), hue(heavy, 0.3));
		border: 1px solid hue(second, 0.4);

		position: relative;
		z-index: 5;
		
		@include device('phone'){
			font-size: 7px;
		}

		svg{
			font-size: 6em;
			color: hue(plain);
		}
	}

	&__title{
		font-size: 30px;
		color: hue(plain);
		
		@include device('phone'){
			font-size: 24px;
		}
	}


	&__head{
		display: flex;
		align-items: center;
		gap: 20px;
	}

	&__main{
		flex: 1;
		display: flex;
		flex-direction: column;		
		gap: 20px;
	}

	&__desc{
		flex: 1;
		color: hue(second);
		
		@include device('phone'){
			font-size: 14px;
		}
	}

	&__list{
		flex: 4;
		display: flex;
		flex-direction: column;
		gap: 10px;
	}

	&__subtitle{
		font-size: 20px;
		color: hue(primary);
		
		@include device('phone'){
			font-size: 18px;
		}
	}

	&__item{
		position: relative;
		padding-left: 2em;
		
		@include device('phone'){
			font-size: 14px;
		}

		&::before {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			translate: 0 15%;
			width: 1.8em; height: 1.8em;
			background-image: url('/images/stars.svg');
			background-size: contain; 
			background-repeat: no-repeat;
			background-position: center;
		}
	}


	&__foot{
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 40px;
		margin-top: 10px;
		
		button{
			font-size: 20px;
			width: 4em;
			height: 4em;
			aspect-ratio: 1/1;
			text-align: center;
			align-content: center;
			border-radius: 50%;
			color: hue(plain);
			background: linear-gradient(45deg, hue(heavy, 0.05), hue(heavy, 0.2));
			border: 1px solid hue(second, 0.4);
			position: relative;
		}

		svg{
			position: absolute;
			width: 100%;
			height: 100%;
			padding: 30%;
			inset: 0;
		}
	}
}




// orbit--------------------

.orbit{
	width: 100%;
	max-width: 560px;
	position: relative;
	aspect-ratio: 2/1.6;
	display: inline-flex;
	justify-content: center;
	align-items: center;

	[alt=orbit-line]{
		position: absolute;
		// z-index: -1;
		inset: 0;
		left: 50%;top: 50%;
		translate: -50% -46%;
		width: 100%; height: 100%;
		scale: 1 0.95;

		@include device('tablet'){
			width: 340px;
			height: auto;
			scale: 1 0.8;
			translate: -50% -45%;
		}

	}


	@include device('laptop', 'only'){
		scale: 0.8;
	}

	@include device('tablet'){
		aspect-ratio: 2/1.3;
	}

	&__planets{
		position: absolute;
		inset: 0;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		padding-top: 5%;

	}

	&__center{
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		font-size: 80px;
		width: 2em;
		height: 2em;
		translate: 0 20%;
		box-shadow: 0 0 24px hue(primary, 1), inset 0 0 80px hue(b, 0.4);
		filter: drop-shadow(3px 1px 38px hue(primary, 0.5));
		 
		svg{color: hue(primary, 0.8);}
		
		&::after{
			box-shadow: -0.2px 0.3px 1.5px;
		}
		
		@include device('tablet'){
			font-size: 35px;
			translate: 0 10%;
			// width: 3em;
		}

		// box-shadow: 0 0 40px 1px hue(second, 0.6), 0 0 10px 1px hue(second, 0.6),;
		transition: 0.3s;

		// animation: scale-anim 1s ease infinite alternate;



		@keyframes scale-anim{
			from{
				scale: 1
			}
			to{
				scale: 1.2;
			}
		}
	}

}


.planet {
	position: absolute;
	cursor: pointer;


	&[data-active] &__content{
		opacity: 1;
		transform: scale(1.6);
		box-shadow: 0 0 24px hue(heavy);
		filter: drop-shadow(3px 1px 18px hue(heavy, 1));

		&:before{
			opacity: 0;
		}
	}


	&__content{
		opacity: 0.6;
		font-size: 50px;
		width: 1.5em;
		height: 1.5em;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;	
		transition: 0.3s;

			&::before{
				box-shadow:  inset 3px 1px 12px 0px hue(heavy, 0.5);
			}


		&::after{
			box-shadow: 0.2px 0.1px 1px;
		}

		@include device('tablet'){
			font-size: 30px;
		}
	}


}